<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="about section">
                <div class="section-inner">
                    <h2 class="heading">Acerca de Mí</h2>
                    <div class="content">
                        <p class="text-justify">Profesional con capacidad de investigar, diagnosticar, diseñar, construir, evaluar, auditar , mantener sistemas informáticos aplicados en las áreas administrativas, técnicas, científicas-sociales, con excelentes valores como la honestidad, moralidad , responsabilidad, solidaridad y respeto por las personas. Habilidad para trabajar en equipo en la toma de decisiones y capacidad de liderazgo. Buen desempeño en programación de aplicaciones informáticas y telecomunicaciones.</p>

    <p>Me gusta en tiempos libres bailar ,compartir con mis compañeros, jugar futbol y  billar pool</p>

                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

           <section class="latest section">
                <div class="section-inner">
                    <h2 class="heading">Ultimos Proyectos</h2>
                    <div class="content">

                        <div class="item featured text-center">
                            <h3 class="title"><a href="https://pairdev.herokuapp.com/">PairDev</a></h3>
                            <p class="summary">Una Plataforma web para el desarrollo ágil con programación en pares</p>
                            <div class="featured-image">
                                <a href="https://pairdev.herokuapp.com/" target="_blank">
                                <img class="img-responsive project-image" src="https://dl.dropboxusercontent.com/u/36631196/pairdev.png" alt="PairDev" />
                                </a>
                                <div class="ribbon">
                                    <div class="text">Web App</div>
                                    </div>
                                </div>

                            <div class="desc text-left">
                                <p>Gracias a Nuestra plataforma podras crear tus proyectos y comenzar a programarlo simultaneamente de manera remota.Comparte tus archivos e interactua por video conferencias con los miembros de tu proyecto</p>
                                <p>No te pierdas ni un paso y comienza a trabajar de manera colaborativa disfrutando de nuestra grandiosa plataforma y seras más productivo.</p>
                            </div><!--//desc-->
                            <a class="btn btn-cta-secondary" href="https://pairdev.herokuapp.com/projects" target="_blank"><i class="fa fa-thumbs-o-up"></i>Ir al proyecto</a>
                        </div><!--//item-->
                        <hr class="divider" />
                        <div class="item row">
                            <a class="col-md-4 col-sm-4 col-xs-12" href="http://monecoins.herokuapp.com/" target="_blank">
                            <img class="img-responsive project-image" src="https://dl.dropboxusercontent.com/u/36631196/mone.png" alt="Moneapp" />
                            </a>
                            <div class="desc col-md-8 col-sm-8 col-xs-12">
                                <h3 class="title"><a href="http://monecoins.herokuapp.com/" target="_blank">Mone</a></h3>
                                <p>Mone es el primer SEGURO DE EDUCACIÓN sin montos minimos obligatorios. MoNe te permitira AHORRAR mensualmente el valor que desees y llevar un control en tiempo real del futuro profesional de tus hijos</p>
                                <p><a class="more-link" href="http://monecoins.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Conocer más</a></p>
                            </div><!--//desc-->
                        </div><!--//item-->

                        <div class="item row">
                            <a class="col-md-4 col-sm-4 col-xs-12" href="http://marioenturadio.com/" target="_blank">
                            <img class="img-responsive project-image" src="https://dl.dropboxusercontent.com/u/36631196/marioradio.png" alt="Marioradio" />
                            </a>
                            <div class="desc col-md-8 col-sm-8 col-xs-12">
                                <h3 class="title"><a href="http://marioenturadio.com/" target="_blank">Mario en tu radio</a></h3>
                                <p>Web de la emisora digital Marioenturadio creada con el propósito de alegrar la vida de chocoanos, latinos, comunidad de habla hispana y latinos del mundo.</p>
                                <p><a class="more-link" href="http://marioenturadio.com/" target="_blank"><i class="fa fa-external-link"></i> Conocer más</a></p>
                            </div><!--//desc-->
                        </div><!--//item-->



                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <section class="projects section">
                <div class="section-inner">
                    <h2 class="heading">Otros proyectos</h2>
                    <div class="content">

                        <div class="item">
                            <p class="summary">Puedes seguir conociendo de mis proyectos personales en mi perfil de github </p>
                            <p><a class="more-link" href="https://github.com/mike-casas"></i> ver en GitHub</a></p>
                        </div><!--//item-->

                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->


            <section class="github section">
                <div class="section-inner">
                    <h2 class="heading">Mi GitHub</h2>
                    <p>https://github.com/mike-casas <a href="https://github.com/mike-casas">GitHub </a></p>

                    <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->
                    <div id="ghfeed" class="ghfeed">
                    </div><!--//ghfeed-->

                </div><!--//secton-inner-->
            </section><!--//section-->
        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
             <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Información Básica</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Quibdó, CO</li>
                            <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">ing.miguelcasas@gmail.com</a></li>
                            <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://www.miguelcasas.co">http://www.miguelcasas.co</a></li>
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->

            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Habilidades</h2>
                    <div class="content">
                        <p class="intro">
                             Nivel de una de ellas.</p>

                        <div class="skillset">

                            <div class="item">
                                <h3 class="level-title">Ruby on Rails<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info..."></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">Javascript &amp; jQuery<span class="level-label"></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">HTML5 &amp; CSS3<span class="level-label"></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">PHP<span class="level-label"></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="75%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> Más en la CV</a></p>
                        </div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="education aside section">
                <div class="section-inner">
                    <h2 class="heading">Educación</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title"><i class="fa fa-graduation-cap"></i> Ing. Teleinformática</h3>
                            <h4 class="university">Universidad Tecnológica del Chocó <span class="year">(2012)</span></h4>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><i class="fa fa-desktop"></i> Bootcamp de programación</h3>
                            <h4 class="university">Make It Real camp <span class="year">(2014-2015)</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Lenguajes</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="item">
                                <span class="title"><strong>Español:</strong></span>
                                <span class="level">Lenguaje nativo <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                            </li><!--//item-->
                            <li class="item">
                                <span class="title"><strong>Inglés:</strong></span>
                                <span class="level"><br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                            </li><!--//item-->
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="blog aside section">
                <div class="section-inner">
                    <h2 class="heading">Ultimos Blog Posts</h2>
                    <p><a href="https://medium.com/@miguelcasas/" target="_blank">Blog @miguelcasas</a> </p>
                    <div id="rss-feeds" class="content">

                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->



            <aside class="list conferences aside section">
                <div class="section-inner">
                    <h2 class="heading">Comunidad</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-users"></i> <a href="https://twitter.com/choco_Libre" target="_blank">Chocó Libre</a> (founder)</li>
                            <li><i class="fa fa-users"></i> <a href="http://www.hackdo.co/" target="_blank">Hackdó</a> (Co-founder)</li>
                            <li><i class="fa fa-users"></i> <a href="https://twitter.com/QuibdoJs">Quibdó-Js</a> (Co-founder)</li>
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->


        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->

<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
            <small class="copyright">C.V <a href="#" target="_blank">Miguel casas</a></small>
    </div><!--//container-->
</footer><!--//footer-->
